#testDiv1 {
  width: 35%;
  font-size: 1em;
  padding: 1em;
  margin: 2em;
}

#testDiv2 {
  width: 35%;
  font-size: 1em;
  padding: 1em;
  margin: 2em;
}
#list1{
  padding: 0;
}

#list1 li{
  border: 1px black dashed;
  padding: 10px;
  width: 200px;
  margin: 20px;
  display: inline-block;

}

#testDivPosition{
position: absolute;
bottom: 220px;


}

#testDiv1{
  float: left;
  width: 4000%;

}

#testDiv2{
  float: left;
  width: 400%;


}
